<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <script type="text/javascript" src="/js/javascript.js"></script>
  </head>
  <body>
    <div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Genom<span>Donor</span></div>
		</div>
		<br>
		<div class="login">
				<input type="text" placeholder="username" name="user"><br>
				<input type="password" placeholder="password" name="password"><br>
        <a href="http://localhost:8000"><button class="btn btn-primary">Login</button></a>
		</div>
  </body>
</html>
